<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/e409e31cce.js"></script>
    <title>
        <%= htmlWebpackPlugin.options.projectName %> Index</title>

    <style>
        body {
            background: #f9f9f9;
            color: #999;
            font: 17px/1.6em helvetica, arial, sans-serif;
        }

        a,
        a:link,
        a:active,
        a:visited {
            color: #999;
            text-decoration: none;
        }

        a:hover {
            color: #666;
        }

        h1,
        h2 {
            margin-bottom: 6px;
            color: #081835;
            font: bold 2em/1.15 sans-serif;
        }

        h1 em {
            font: italic normal 0.45em/1em helvetica, arial, sans-serif;
            color: #ccc;
            float: right;
            margin-top: 16px;
        }

        h2 {
            color: #333;
            font-size: 1.5em;
        }

        #viewport {
            background: #fff;
            width: 480px;
            margin: 30px auto;
            padding: 30px;
        }

        #templates {
            border: solid #081835;
            border-width: 1px 0;
            padding: 20px 0;
            margin-top: .5em;
        }

        #templates .item {
            margin-bottom: 20px;
        }

        #templates .item.last,
        #templates .item:last-child {
            margin-bottom: 0;
        }

        ul {
            margin: 0;
            padding-left: 1em;
        }

        ul li {
            list-style: none;
        }

        ul li {
            margin: 0 .5em;
            font-size: 1em;
            font-family: sans-serif;
            line-height: 1.6em;
        }

        ul li a:after {
            content: ".html";
            font-style: italic;
            font-size: 0.80em;
            color: #ccc;
            line-height: 1em;
        }

        /*ul li:hover {*/
        /*list-style: disc inside none;*/
        /*}*/

        ul a:hover:after {
            color: #666;
            font-style: normal;
        }

        ul li sup {
            font-size: 10px;
            vertical-align: super;
        }

        li.separator {
            border-bottom: 1px solid #eee;
            height: 0.5em;
            list-style: none !important;
            margin-bottom: 0.5em;
        }

        footer {
            font-size: 0.75em;
            overflow: hidden;
        }

        footer span {
            float: right;
            font-style: italic;
            color: #bbb;
        }

        footer a {
            font-style: normal;
            color: #999 !important;
        }

        @media screen and (max-width: 640px) {
            #viewport {
                width: 90%;
                margin: 5.16% auto;
                padding: 5.16%;
            }

            h1 {
                font-size: 1.7em;
            }

            ul li {
                font-size: 1.1em;
            }
        }

        .parent-list-item {
            cursor: pointer;
        }

        .sub-list {
            display: none;
        }

        .active {
            display: block;
        }

        i {
            width: 25px;
            text-align: center;
        }

        .list-item i, .sub-list i {
            margin-right: 5px;
        }

        .folder-info {
            text-align: center;
        }
    </style>
</head>

<body>
<div id="viewport">
    <h1>
        <%= htmlWebpackPlugin.options.projectName %><em>
            <%= htmlWebpackPlugin.options.mode %>
            v<%= htmlWebpackPlugin.options.version %></em></h1>
    <div id="templates">
        <div class="item last">
            <ul class="main-list">
                <% _.each(htmlWebpackPlugin.options.files, function(file){ %>

                    <% if (!file.url.length) { %>
                        <li class="parent-list-item" onclick="Activate(this)">
                            <strong>
                                <i class="fas fa-folder"></i>
                                <%= file.name %>
                            </strong>

                            <% if(file.children.length){ %>
                                <ul class="sub-list">
                                    <% _.each(file.children, function(child){ %>
                                        <li>
                                            <a href="./<%= child.url %>">
                                                <i class="far fa-file-code"></i><%= child.name %></a>
                                        </li>
                                    <% }); %>
                                </ul>
                            <% }else{ %>
                                <div class="sub-list folder-info">
                                    <span>No Page...</span>
                                </div>
                            <% } %>
                        </li>
                    <% } else{ %>
                        <li class="list-item">
                            <a href="./<%= file.url %>">
                                <i class="far fa-file-code"></i><%= file.name %></a>
                        </li>
                    <% } %>

                <% }); %>
            </ul>
        </div>
    </div>
    <footer>
            <span>(c)
                <%= htmlWebpackPlugin.options.year %></span>
    </footer>
</div>

<script>
    function Activate(e) {
        var folderIcon = e.querySelector('i');
        var subList = e.querySelector('.sub-list');
        subList.classList.toggle('active');

        folderIcon.classList.toggle('fa-folder');
        folderIcon.classList.toggle('fa-folder-open');
    }
</script>
</body>

</html>